<section class="connections-container">
	{{ai.serialNr}}
	<fieldset>
		<legend>Your properties</legend>
		<h1>connections</h1>
		<ul>
			{{#each this}}
				{{!#if ai._id}}
					<li>
						<h2>{{this.ownerId}}</h2>
						<a class="btn--primary" class="global-nav__menu__myAi">Disconnect</a>
					</li>
				{{!/if}}
			{{else}}
			<p>No connections available.</p>
			{{/each}}
		</ul>
	</fieldset>
</section>