<section class="orbit-container">
	<div class='orbit orbit--one'>
		<h2 class="orbit__name">
			{{ai.instanceName}}'s
			<span>orbit</span>
		</h2>
		<div class='star'></div>
		{{#each planets}}
			<div class="orbit-wrapper orbit-wrapper--{{increment @index}}">
				<a href="{{../url}}{{this}}" class="planet"></a>
			</div>
		{{/each}}
	</div>
</section>