<nav class="global-nav">
    <ul class="global-nav__menu">
        <li>
			<a href="/"><img class="global-nav__menu__logo" src="../../lib/images/baai.svg"></a>

		</li>
        <li>
			<a href="/myAi" class="global-nav__menu__myAi">My AI</a>
		</li>
    </ul>
</nav>