<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="lib/dist/site.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {{title}}

    {{>global-nav}}

    {{{body}}}

</body>
</html>