<section class="brand">
	<img class="brand__logo" src="../lib/images/orbitai.svg" alt="">
	<h1 class="is-hidden">Orbit.ai</h1>
	<h2 class="brand__sub-title">Explore the abstract universe</h2>
</section>

<a href="ai/sync-module" class='btn--primary'> Sync new module </a>
<a href="/sync" class='btn--secondary'> Sync existing module</a>