{{#if connected}}
	<span class="connection-indicator">Connected</span>
{{/if}}

{{> _orbit}}

<section class="ai-details">
	{{#if ai}}
		{{> _properties}}
	{{/if}}
</section>

{{#if ai}}
	{{#unless connected}}
		<form method="post" action="./{{orbit._id}}">
			<input type="submit" class="btn--primary" value="Connect to {{ai.instanceName}}">
		</form>
	{{/unless}}
{{/if}}