{{> _orbit}}

<section class="ai-details">
	{{> _properties}}
</section>

<form method="post" action="./{{orbit._id}}">
	<input type="submit" class="btn--primary" value="Connect to {{ai.instanceName}}">
</form>

