{{>_global-nav}}

<h1 class="sync-header">Synchronise existing module</h1>
<form class="form-sync" action="/sync" method="POST">
	<label>Serial number</label>
	<input type="text" name="serialNr">

	<label>Password</label>
	<input type="password" name="password">
	<input class="btn--primary" type="submit">
</form>